 .image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
  }
  .image-checkbox input[type="checkbox"] {
    display: none;
  }
  .image-checkbox  img {
    width: 210px;
    height: 150px;
  }
  .image-checkbox-checked {
    border-color:#3aff65;
  }
  .image-checkbox .glyphicon {
    position: absolute;
    color: #3aff65;
    background-color: #fff;
    padding: 10px;
    top: 0;
    right: 0;
  }
  .image-checkbox-checked .glyphicon {
    display: block !important;
  }
